[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Vendor/Kal"]
	path = Vendor/Kal
	url = git://github.com/grgcombs/Kal.git
[submodule "Vendor/TVOutManager"]
	path = Vendor/TVOutManager
	url = git://github.com/grgcombs/TVOutManager.git
[submodule "Vendor/SVGeocoder"]
	path = Vendor/SVGeocoder
	url = git://github.com/grgcombs/SVGeocoder.git
[submodule "Vendor/SVWebViewController"]
	path = Vendor/SVWebViewController
	url = git://github.com/grgcombs/SVWebViewController.git
[submodule "Vendor/IntelligentSplitViewController"]
	path = Vendor/IntelligentSplitViewController
	url = git://github.com/grgcombs/IntelligentSplitViewController.git
[submodule "Vendor/AppendingFlowView"]
	path = Vendor/AppendingFlowView
	url = git://github.com/grgcombs/AppendingFlowView.git
[submodule "Vendor/RestKit"]
	path = Vendor/RestKit
	url = git://github.com/grgcombs/RestKit.git
[submodule "Vendor/TTTOrdinalNumberFormatter"]
	path = Vendor/TTTOrdinalNumberFormatter
	url = git://github.com/grgcombs/TTTOrdinalNumberFormatter.git
[submodule "Vendor/S7GraphView"]
	path = Vendor/S7GraphView
	url = git://github.com/grgcombs/Customed-s7graphview.git
[submodule "Vendor/DDActionHeaderView"]
	path = Vendor/DDActionHeaderView
	url = git://github.com/grgcombs/DDActionHeaderView.git
[submodule "Vendor/ActionSheetPicker"]
	path = Vendor/ActionSheetPicker
	url = git://github.com/grgcombs/ActionSheetPicker.git
