<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildNumber</key>
	<string>539</string>
	<key>CFBuildVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TexLege</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon~ipad.png</string>
		<string>Icon@2x~iphone.png</string>
		<string>Icon-Settings@2x~iphone.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>5EMVYB9KRX.com.texlege.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}.539</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIInterfaceOrientation~ipad</key>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<key>UIInterfaceOrientation~iphone</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>projectWebsite</key>
	<string>http://www.texlege.com</string>
</dict>
</plist>
