<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OfficialURLs</key>
	<dict>
		<key>houseWeb</key>
		<string>http://www.house.state.tx.us/members/member-page/?district=%@</string>
		<key>senateWeb</key>
		<string>http://www.senate.state.tx.us/75r/Senate/members/dist%@/dist%@.htm</string>
		<key>mapPdfUrl</key>
		<string>http://www.fyi.legis.state.tx.us/fyiwebdocs/PDF/%@/dist%@/m1.pdf</string>
	</dict>
	<key>BillMenuItems</key>
	<array>
		<dict>
			<key>icon</key>
			<string>28-star.png</string>
			<key>class</key>
			<string>BillsFavoritesViewController</string>
			<key>title</key>
			<string>Watch List</string>
			<key>dataObject</key>
			<string>BillsMenuItem</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>138-scales.png</string>
			<key>class</key>
			<string>BillsTodayViewController</string>
			<key>title</key>
			<string>Bills Passed Today</string>
			<key>dataObject</key>
			<string>BillsMenuItem</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>11-clock.png</string>
			<key>class</key>
			<string>BillsRecentViewController</string>
			<key>title</key>
			<string>Recently Active Bills</string>
			<key>dataObject</key>
			<string>BillsMenuItem</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>96-book.png</string>
			<key>class</key>
			<string>BillsCategoriesViewController</string>
			<key>title</key>
			<string>By Subject</string>
			<key>dataObject</key>
			<string>BillsMenuItem</string>
		</dict>
	</array>
	<key>ExternalURLs</key>
	<dict>
		<key>googleMapsWeb</key>
		<string>http://maps.google.com</string>
		<key>nimspWeb</key>
		<string>http://www.followthemoney.org</string>
	</dict>
</dict>
</plist>
