<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/district:dc</string>
		<key>name</key>
		<string>District of Columbia</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ak</string>
		<key>name</key>
		<string>Alaska</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:al</string>
		<key>name</key>
		<string>Alabama</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ar</string>
		<key>name</key>
		<string>Arkansas</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:az</string>
		<key>name</key>
		<string>Arizona</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ca</string>
		<key>name</key>
		<string>California</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:co</string>
		<key>name</key>
		<string>Colorado</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ct</string>
		<key>name</key>
		<string>Connecticut</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:de</string>
		<key>name</key>
		<string>Delaware</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:fl</string>
		<key>name</key>
		<string>Florida</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ga</string>
		<key>name</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:hi</string>
		<key>name</key>
		<string>Hawaii</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ia</string>
		<key>name</key>
		<string>Iowa</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:id</string>
		<key>name</key>
		<string>Idaho</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:il</string>
		<key>name</key>
		<string>Illinois</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:in</string>
		<key>name</key>
		<string>Indiana</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ks</string>
		<key>name</key>
		<string>Kansas</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ky</string>
		<key>name</key>
		<string>Kentucky</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:la</string>
		<key>name</key>
		<string>Louisiana</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ma</string>
		<key>name</key>
		<string>Massachusetts</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:md</string>
		<key>name</key>
		<string>Maryland</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:me</string>
		<key>name</key>
		<string>Maine</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:mi</string>
		<key>name</key>
		<string>Michigan</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:mn</string>
		<key>name</key>
		<string>Minnesota</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:mo</string>
		<key>name</key>
		<string>Missouri</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ms</string>
		<key>name</key>
		<string>Mississippi</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:mt</string>
		<key>name</key>
		<string>Montana</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nc</string>
		<key>name</key>
		<string>North Carolina</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nd</string>
		<key>name</key>
		<string>North Dakota</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ne</string>
		<key>name</key>
		<string>Nebraska</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nh</string>
		<key>name</key>
		<string>New Hampshire</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nj</string>
		<key>name</key>
		<string>New Jersey</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nm</string>
		<key>name</key>
		<string>New Mexico</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:nv</string>
		<key>name</key>
		<string>Nevada</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ny</string>
		<key>name</key>
		<string>New York</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:oh</string>
		<key>name</key>
		<string>Ohio</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ok</string>
		<key>name</key>
		<string>Oklahoma</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:or</string>
		<key>name</key>
		<string>Oregon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:pa</string>
		<key>name</key>
		<string>Pennsylvania</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ri</string>
		<key>name</key>
		<string>Rhode Island</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:sc</string>
		<key>name</key>
		<string>South Carolina</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:sd</string>
		<key>name</key>
		<string>South Dakota</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:tn</string>
		<key>name</key>
		<string>Tennessee</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:tx</string>
		<key>name</key>
		<string>Texas</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:ut</string>
		<key>name</key>
		<string>Utah</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:va</string>
		<key>name</key>
		<string>Virginia</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:vt</string>
		<key>name</key>
		<string>Vermont</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:wa</string>
		<key>name</key>
		<string>Washington</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:wi</string>
		<key>name</key>
		<string>Wisconsin</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:wv</string>
		<key>name</key>
		<string>West Virginia</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/state:wy</string>
		<key>name</key>
		<string>Wyoming</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/territory:as</string>
		<key>name</key>
		<string>American Samoa</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/territory:gu</string>
		<key>name</key>
		<string>Guam</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/territory:mp</string>
		<key>name</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/territory:pr</string>
		<key>name</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ocd-division/country:us/territory:vi</string>
		<key>name</key>
		<string>US Virgin Islands</string>
	</dict>
</array>
</plist>
